#terraform.tfstate
#**/terraform.tfstate
#**/terraform.tfstate.backup

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
# Terraform state and provider binaries
*.tfstate
*.tfstate.backup
.terraform/

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional – usually OK to keep)
# .terraform.lock.hcl

# Kubernetes
*.kubeconfig

# Env / secrets
.env
*.env

# OS / Editor
.DS_Store
.vscode/
.idea/

